body {
	background-color: #eff7e1;
	margin: 40px;
	border: 5px dotted black;
	font-family: Tahoma;
}
.contact-main{
	margin: 40px;
}
hr {
	border-style: dotted none none none;
	border-width: 5px;
}
ul{
	margin-top: -10px;
}

.pic {
	width: 50px;


}
.main{
	margin: 20px;
}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
/*main-myself*/
.main-myself{
	display: flex;
	margin-bottom: -5px;
}
.main-img{

}
.main-img__picture{
	border: 3px solid black;
	border-radius: 5px;
	margin-right: 20px;
}
.main-myself-text{

}
.main-myself-text__title{
}
.main_myself-text__p{
	font-size: 20px;
	text-align: justify;
}
/*main-myself*/

/*main-hobies*/
.main-hobbies{
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-hobbies-text{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-basis: 25%;
}
.main-hobbies-text__title{
	text-align: center;
}
.main-hobbies-images{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 300px;
	margin-left: 30px;
}
/*main-hobies*/

/*main-contact*/
.main-contact{
	width: 100%;
}
.main-contact__title
{
	width: 200px;
}
.main-contact_images {
	display: flex;
	flex-direction: row-reverse;
	margin-top: -55px;
}
.main-contact_images a {
	margin-right: 40px;
}
.img{
	margin-bottom: 10px;
}


